
<div class="row">
  <div class="col-md-3 order-md-2 mb-3">
  </div>
  <div class="col-md-6 order-md-2 mb-6">
    <h2 class="text-center">Cadastro de Usuário</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Salvar", class:"btn btn-success" %>
      </div>
    <% end %>
     <p>Já possui cadastro?<%= render "devise/shared/links" %></p>
  </div>
</div>
