<div class="card-body">

	<h4 class="d-flex justify-content-between align-items-center mb-3">
	  <span class="text-muted">Consulta de Proponentes</span>
	</h4>

	<%= form_tag url: relatorios_search_path do %>
		<div class="form-row">
		  <div class="form-group col-md-12">
		    <%= label_tag :q, 'Salário:' %>
		  	<%= text_field_tag :q , params[:q] %>
		  </div>
		</div>

		<div class="actions text-center m-2">
      <%= submit_tag "Buscar", class:"btn btn-primary" %>

      <%= link_to relatorios_show_path, class: "btn btn-success" do %>
        RELATÓRIO
      <% end %>

    </div>

	<% end %>
	<h4 align="center">Resultados da busca</h4>

	<% if @proponents.present? %>
		<table class="table table-sm">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nome</th>
		      <th scope="col">Salário base</th>
		      <th scope="col">Desconto</th>
		      <th class="text-center" scope="col">Ações</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @proponents.each do |proponent| %>
		    <tr>
		      <th scope="row"><%= proponent.id %></th>
		      <td><%= proponent.name %></td>
		      <td><%= number_to_currency(proponent.salary, unit: "R$ ", delimiter: ".", separator: ",")%></td>
		      <td><%= number_to_currency(proponent.discount, unit: "R$ ", delimiter: ".", separator: ",") %></td>
		     <% if proponent.amount_salary == 0 %>
		     	 <td align="center"><%= link_to 'Calcular', salarys_index_path(proponent: proponent.id), class:"btn btn-outline-dark" %></td>
		     <% else %>
		     	 <td align="center"><%= link_to 'Visualizar', salarys_index_path(proponent: proponent.id), class:"btn btn-outline-success" %></td>
		     <% end %>
		    </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
</div>

