<h4 align="center" class="my-5"> Relatório de proponentes </h4>

<div class="row mb-3">
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Emissor:</label>
  <div class="col-sm-6">
  	<input type="email" value="<%= current_user.email %>" class="form-control form-control-sm" id="colFormLabelSm" readonly>
  </div>
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Data emissão:</label>
  <div class="col-sm-2">
  	<input type="email" id="date" class="form-control form-control-sm" id="colFormLabelSm" readonly>
  </div>
</div>

<hr>

<h5 class="my-3" align="center">Resultado - Salários por faixa salarial</h5>
<div class="table-responsive">
	<table class="table table-bordered">
	  <thead class="table-dark">
	    <tr>
	      <th scope="col">Faixa Salarial</th>
	      <th class="text-center" scope="col">Quantidades de proponetes</th>
	      <th class="text-center" scope="col">Total de descontos (R$)</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Salários até R$ 1045,00 </td>
	      <td align="center" ><%= @quantidade_faixa_1 %></td>
	      <td align="center"><%= @total_desconto_faixa_1 %></td>
	    </tr>
	    <% if @proponents_faixa_1.present? %>
		    <tr>
		    	<td colspan="4">
		        <table class="table table-sm">
	        		<thead class="table-dark">
						    <tr>
						    	<th scope="col">Id</th>
						      <th scope="col">Nome</th>
						      <th scope="col">Salário</th>
						      <th scope="col">Desconto</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<% @proponents_faixa_1.each do |proponent| %>
						    <tr>
						      <th scope="row"><%= proponent.id %></th>
						      <td><%= proponent.name %></td>
						      <td><%= proponent.salary %></td>
						      <td><%= proponent.discount %></td>
						    </tr>
						    <% end %>
						  </tbody>
		        </table>
		      </td>
		    </tr>
	    <% end %>

	    <tr>
	      <td>Salários de R$ 1045,01 até R$ 2.089,60 </td>
	      <td align="center" ><%= @quantidade_faixa_2 %></td>
	      <td align="center"><%= @total_desconto_faixa_2 %></td>
	    </tr>
	    <% if @proponents_faixa_2.present? %>
	    <tr>
	    	<td colspan="4">
	        <table class="table table-sm">
	        	<thead class="table-dark">
					    <tr>
					    	<th scope="col">Id</th>
					      <th scope="col">Nome</th>
					      <th scope="col">Salário</th>
					      <th scope="col">Desconto</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<% @proponents_faixa_2.each do |proponent| %>
					    <tr>
					      <th scope="row"><%= proponent.id %></th>
					      <td><%= proponent.name %></td>
					      <td><%= proponent.salary %></td>
					      <td><%= proponent.discount %></td>
					    </tr>
					    <% end %>
					  </tbody>
	        </table>
	      </td>
	    </tr>
			<% end %>
	    <tr>
	      <td>Salários de R$ 2.089,61 até R$ 3.134,40 </td>
	      <td align="center" ><%= @quantidade_faixa_3 %></td>
	      <td align="center"><%= @total_desconto_faixa_3 %></td>
	    </tr>
	    <% if @proponents_faixa_3.present? %>
	    <tr>
	    	<td colspan="4">
	        <table class="table table-sm">
	        	<thead class="table-dark">
					    <tr>
					    	<th scope="col">Id</th>
					      <th scope="col">Nome</th>
					      <th scope="col">Salário</th>
					      <th scope="col">Desconto</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<% @proponents_faixa_3.each do |proponent| %>
					    <tr>
					      <th scope="row"><%= proponent.id %></th>
					      <td><%= proponent.name %></td>
					      <td><%= proponent.salary %></td>
					      <td><%= proponent.discount %></td>
					    </tr>
					    <% end %>
					  </tbody>
	        </table>
	      </td>
	    </tr>
			<% end %>
	    <tr>
	      <td>Salários de R$ 3.134,41 até R$ 6.101,06 </td>
	      <td align="center" ><%= @quantidade_faixa_4 %></td>
	      <td align="center"><%= @total_desconto_faixa_4 %></td>
	    </tr>
	    <% if @proponents_faixa_4.present? %>
	    <tr>
	    	<td colspan="4">
	        <table class="table table-sm">
	        	<thead class="table-dark">
					    <tr>
					    	<th scope="col">Id</th>
					      <th scope="col">Nome</th>
					      <th scope="col">Salário</th>
					      <th scope="col">Desconto</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<% @proponents_faixa_4.each do |proponent| %>
					    <tr>
					      <th scope="row"><%= proponent.id %></th>
					      <td><%= proponent.name %></td>
					      <td><%= proponent.salary %></td>
					      <td><%= proponent.discount %></td>
					    </tr>
					    <% end %>
					  </tbody>
	        </table>
	      </td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<canvas id="myChart" width="200" height="50"></canvas>

<hr>

<script type="text/javascript">
	n =  new Date();
	y = n.getFullYear();
	m = n.getMonth() + 1;
	d = n.getDate();
	document.getElementById("date").value = m + "/" + d + "/" + y;


	var ctx = document.getElementById('myChart').getContext('2d');

	var myPieChart = new Chart(ctx, {
	    type: 'pie',
	    data: {
	    	datasets: [{
	    		data: [<%= @quantidade_faixa_1 %>, <%= @quantidade_faixa_2 %>, <%= @quantidade_faixa_3 %>, <%= @quantidade_faixa_4 %>],
	    		backgroundColor: [
		    		'rgba(255, 99, 132, 0.2)',
	          'rgba(54, 162, 235, 0.2)',
	          'rgba(255, 206, 86, 0.2)',
	          'rgba(75, 192, 192, 0.2)'
		    	]
	    	}],
	    	labels : [
	    		'Faixa 1',
	    		'Faixa 2',
	    		'Faixa 3',
	    		'Faixa 4'
	    	]
	    }
	});

	
</script>