<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
  </div>
  <div class="col-md-4 order-md-2 mb-4">

    <h2 class="text-center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="actions text-center m-2">
        <%= f.submit "Enviar instruções para resetar minha senha", class:"btn btn-success" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div> 
</div>