<% flash.each do |type, msg| %>
  <% if type == 'primary' %>
    <div class="alert alert-primary">
      <%= msg %>
    </div>
  <% elsif type == 'danger' %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% elsif type == 'warning' %>
    <div class="alert alert-warning">
      <%= msg %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>   
<% end %>