<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
  <a class="navbar-brand" href="/">Desconto INSS</a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">

    <% if user_signed_in? %>
    <span class="text-primary p-3">
      <%= current_user.email %>
    </span>

    <%= link_to "Sair", "/users/sign_out", method: :delete, class:"btn btn-outline-dark" %>
    <% else %>
        <%= link_to "Entrar", "/users/sign_in", class:"m-2 btn btn-outline-success" %>
        <%= link_to "Cadastre-se", "/users/sign_up", class:"m-2 btn btn-outline-primary"  %>
    <% end %>
  </nav>
  
</div>