<%= simple_form_for(contact) do |f| %>

  <% if contact.errors.any? %>
    <div id="error_explanation">
      <% contact.errors.full_messages.each do |message| %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :proponent_id %>
    <%= f.text_field :proponent_id %>
  </div>

  <div class="actions">
    <%= f.button, :submit class:"btn btn-success" %>
  </div>
<% end %>
