
<p>
  <strong>Tipo:</strong>
  <%= @contact.kind %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @contact.value %>
</p>

<%= link_to 'Editar', edit_contact_path(@contact) %> |
<%= link_to 'Voltar', contacts_path %>
