<div class="row">
  <div class="col-md-3 order-md-2 mb-3">
  </div>
  <div class="col-md-6 order-md-2 mb-6">
    <h2 class="text-center">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: 'btn btn-success' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
