<h1>Endereços</h1>

<table>
  <thead>
    <tr>
      <th>Logradouro</th>
      <th>Número</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Cep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street %></td>
        <td><%= address.number %></td>
        <td><%= address.district %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.cep %></td>
        <td><%= link_to 'Detalhar', address %></td>
        <td><%= link_to 'Editar', edit_address_path(address) %></td>
        <td><%= link_to 'Excluir', address, method: :delete, data: { confirm: 'Tem certeza que quer excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Endereço', new_address_path %>
