<h3 class="text-center">Cálculo do valor a receber</h3>

<div class="row">
	
	<% if @proponent.present? %>

	  <div class="col-md-2 order-md-2 mb-4">
	  </div>
	  <div class="col-md-8 order-md-2 mb-4">
	  	<h5 align="center">Dados do proponente:</h5>
	    <ul class="list-group list-group-flush">
	     
	      <li class="list-group-item">Nome: <%= @proponent.name %></li>
	      <li class="list-group-item">CPF: <%= @proponent.cpf %></li>
	      	      
	      <li class="list-group-item">Salário base: <%= number_to_currency(@proponent.salary, unit: "R$ ", delimiter: ".", separator: ",") %></li>
	      <li class="list-group-item">Desconto aplicado: <%= number_to_currency(@proponent.discount, unit: "R$ ", delimiter: ".", separator: ",")%></li>
	    </ul>
  		<% if @proponent.amount_salary != 0.0 %>
  			<p class="list-group-item text-center bg-danger text-white ">Salário a receber: <%= number_to_currency(@proponent.amount_salary, unit: "R$ ", delimiter: ".", separator: ",")%></p>
			<% else %>
				<% if @exibir_btn_calcular %>
		    	<div class="text-center m-5">
						<%= link_to 'Calcular Salário', salarys_create_path(id: @proponent.id), class:"btn btn-primary" %>
					</div>
				<% else %>
					<p class="list-group-item text-center bg-warning text-white "> Aguarde! Calculando ... </p>
				<% end %>	
  		<% end %>		    	
	  </div>
	<% end %>
</div>
