<%= f.hidden_field :_destroy %>
<div class="field">
  <%= address_form.label :street, 'Logradouro:' %>
  <%= address_form.text_field :street, class: "form-control" %>
</div>

<div class="field">
  <%= address_form.label :number, 'Número:' %>
  <%= address_form.text_field :number, class: "form-control" %>
</div>

<div class="field">
  <%= address_form.label :district, 'Bairro:' %>
  <%= address_form.text_field :district, class: "form-control" %>
</div>

<div class="field">
  <%= address_form.label :cep, 'CEP:' %>
  <%= address_form.text_field :cep, class: "form-control" %>
</div>

<div class="field">
  <%= address_form.label :city, 'Cidade:' %>
  <%= address_form.text_field :city, class: "form-control" %>
</div>

<div class="field">
  <%= address_form.label :state, 'Estado:' %>
  <%= address_form.text_field :state, class: "form-control" %>
</div>
<div>
    <%= link_to "Remove", '#' %>
</div>