<%= simple_form_for proponent do |f| %>
  <%= f.error_notification %>

  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Dados Pessoais:</span>
  </h4>

  <div id="divForm" class="form-row">
    <div class="form-group col-md-8">
      <%= f.label :name, "Nome Completo:" %>
      <%= f.input_field :name, disabled: disabled, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :cpf, "CPF:" %>
      <%= f.input_field :cpf, class: 'form-control', disabled: disabled %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :born_at, "Data de nascimento:" %>
      <%= f.input_field :born_at, as: :date, html5: true, disabled: disabled, class: 'form-control' %>
    </div>
    
    <div class="form-group col-md-4">
      <%= f.label :salary, "Salário (R$):" %>
      <%= f.input_field :salary, class: 'form-control', disabled: disabled, id:"inputSalario", onchange: "modifiquei_alert()" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :discount, "Desconto:" %>
      <%= f.input_field :discount, id:'inputDesconto',  class: 'form-control', readonly: true %>
    </div>
  </div>

  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Endereço:</span>
  </h4>
  
  <%= f.fields_for :address do |address_form| %>
    
    <div class="form-row">
      <div class="form-group col-md-8">
        <%= address_form.label :street, "Logradouro:" %>
        <%= address_form.input_field :street, disabled: disabled, class: 'form-control' %>
      </div>
      
      <div class="form-group col-md-4">
        <%= address_form.label :number, "Número:" %>
        <%= address_form.input_field :number, class: 'form-control', disabled: disabled %>
      </div>

      
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <%= address_form.label :district, "Bairro:" %>
        <%= address_form.input_field :district, disabled: disabled, class: 'form-control' %>
      </div>
      
      <div class="form-group col-md-4">
        <%= address_form.label :cep, "CEP:" %>
        <%= address_form.input_field :cep, class: 'form-control', disabled: disabled %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <%= address_form.label :city, "Cidade:" %>
        <%= address_form.input_field :city, disabled: disabled, class: 'form-control' %>
      </div>
      
      <div class="form-group col-md-4">
        <%= address_form.label :state, "Estado:" %>
        <%= address_form.input_field :state, class: 'form-control', disabled: disabled %>
      </div>
    </div>
  <% end %>

  <% if !disabled %>
    <div class="actions text-center m-2">
      <%= f.button :submit, "Salvar", class:"btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">

  function modifiquei_alert(){

    var salario = document.getElementById("inputSalario").value
    var valorRecolher = 0

    if(salario > 1045.00) {
      valorRecolher += 1045.00 * 0.075
      if(salario > 2089.6) {
        valorRecolher += (2089.6 - 1045) * 0.09
        if (salario > 3134.4) {
          valorRecolher += (3134.4 - 2089.6) * 0.12
          if (salario - 6101.06 > 0) {
            valorRecolher += (6101.06 - 3134.4) * 0.15
          } else {
            valorRecolher += (salario - 3134.4) * 0.15
          }
        } else {
          valorRecolher += (salario - 2089.6) * 0.12
        }
      } else {
        valorRecolher += (salario - 1045) * 0.09
      }
    } else {
      valorRecolher += salario * 0.075
    }
    document.getElementById("inputDesconto").value = valorRecolher
  }

</script>

