<div class="row">
  <div class="col-12">

    <div class="clearfix">
      <h5 class="float-left">Proponentes Cadastrados</h5>
     
      <%= link_to new_proponent_path, class: "btn btn-primary float-right" do %>
        Novo Proponente
      <% end %>

      <%= link_to 'Consultar', relatorios_search_path, class:"btn btn-success float-right mx-2" %>

    </div>


    <br>
    <% if @proponents.present? %>
      
      <% @proponents.each do |proponent| %>
        
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading<%= proponent.id %>" >
              <h5 class="mb-0">
                <button class="btn btn-link  text-dark dropdown-toggle" data-toggle="collapse" data-target="#collapse<%= proponent.id %>" aria-expanded="false" aria-controls="collapse<%= proponent.id %>"> 
                  <%= proponent.id %> - <%= proponent.name %>
                </button>
              </h5>
            </div>

            <div id="collapse<%= proponent.id %>" class="collapse" aria-labelledby="heading<%= proponent.id %>" data-parent="#accordion">
              <div class="card-body">
                <%= render 'form', proponent: proponent, disabled: true  %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @proponents %>

      
    <% else %>
      <div class="alert alert-warning">
        Nenhum registro encontrado!
      </div>
    <% end %>

  </div>
</div>
