
<div class="row">
  <div class="col-md-2 order-md-2 mb-4">
  </div>
  <div class="col-md-8 order-md-2 mb-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item active">Novo Proponente</li>
      <li class="list-group-item">Nome: <%= @proponent.name %></li>
      <li class="list-group-item">CPF: <%= @proponent.cpf %></li>
      <li class="list-group-item">Endereço: <%= @proponent.address.street + ", "+ @proponent.address.number + ", " + @proponent.address.district  %></li>
      <li class="list-group-item">Cidade: <%= @proponent.address.city %></li>
      <li class="list-group-item">Estado: <%= @proponent.address.state %></li>
      <li class="list-group-item">CEP: <%= @proponent.address.cep %></li>
      <li class="list-group-item">Data de Nascimento: <%= @proponent.born_at.strftime("%d/%m/%Y") %></li>
      <li class="list-group-item">Salário: <%= @proponent.salary %></li>
      <li class="list-group-item">Desconto: <%= @proponent.discount %></li>
    </ul>
    <div class="px-3 py-3 text-center">
      <%= link_to 'Editar', edit_proponent_path(@proponent), class:"m-2 btn btn-secondary" %>
      <%= link_to 'Voltar', proponents_path, class:"m-2 btn btn-secondary" %>
    </div>
  </div>
</div>
