<!DOCTYPE html>
<html>
  <head>
    <title>Descontoinss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render partial: 'shared/navigation_bar' %>
    <div class="container">
      <div class="row">
        <div id="app" class="col-12">
          <%= render partial: 'shared/messages' %>
          <%= yield %>
          <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2020 Desafio Desconto INSS</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/mayelle-carvalho-3854b9183/">LinkeIn</a></li>
              <li class="list-inline-item"><a href="https://gitlab.com/MayelleCarvalho">GitLab</a></li>
            </ul>
          </footer>
        </div>
      </div>
    </div>

  </body>
</html>
